# cmake working directory
build/

# Binary files
misc05_picking/misc05_picking_BulletPhysics
misc05_picking/misc05_picking_custom
misc05_picking/misc05_picking_slow_easy
playground/playground
tutorial01_first_window/tutorial01_first_window
tutorial02_red_triangle/tutorial02_red_triangle
tutorial03_matrices/tutorial03_matrices
tutorial04_colored_cube/tutorial04_colored_cube
tutorial05_textured_cube/tutorial05_textured_cube
tutorial06_keyboard_and_mouse/tutorial06_keyboard_and_mouse
tutorial07_model_loading/tutorial07_model_loading
tutorial08_basic_shading/tutorial08_basic_shading
tutorial09_vbo_indexing/tutorial09_AssImp
tutorial09_vbo_indexing/tutorial09_several_objects
tutorial09_vbo_indexing/tutorial09_vbo_indexing
tutorial10_transparency/tutorial10_transparency
tutorial11_2d_fonts/tutorial11_2d_fonts
tutorial12_extensions/tutorial12_extensions
tutorial13_normal_mapping/tutorial13_normal_mapping
tutorial14_render_to_texture/tutorial14_render_to_texture
tutorial15_lightmaps/tutorial15_lightmaps
tutorial16_shadowmaps/tutorial16_shadowmaps
tutorial16_shadowmaps/tutorial16_shadowmaps_simple
tutorial17_rotations/tutorial17_rotations
tutorial18_billboards_and_particles/tutorial18_billboards
tutorial18_billboards_and_particles/tutorial18_particles
